@model glnc_webpart.Models.User

<div>
    <p><strong>ID:</strong> @Model.Id</p>
    <p><strong>Nom:</strong> @Model.Name</p>
    <p><strong>Rôle:</strong> @(Model.Role == 1 ? "Chauffeur" : "Administrateur")</p>
</div>


