<!-- Login Page Left Section: Branding -->
<div class="login-left">
    <div class="login-left-content">
        <div class="logo-container">
            <img src="~/images/glnc-logo.svg" alt="GLNC Logo" class="main-logo" />
        </div>
        <h1 class="brand-title">Système de gestion des livraisons GLNC</h1>
        <p class="brand-tagline">Suivi des livraisons et gestion des logistiques</p>
        
        <div class="features-grid">
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="~/images/truck-icon.svg" alt="Delivery" class="icon-img" />
                </div>
                <span class="feature-label">Livraisons</span>
            </div>
            <div class="feature-item">
                <div class="feature-icon">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2L2 7L12 12L22 7L12 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2 17L12 22L22 17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2 12L12 17L22 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <span class="feature-label">Suivi</span>
            </div>
            <div class="feature-item">
                <div class="feature-icon">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 2V8H20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16 13H8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16 17H8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10 9H9H8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <span class="feature-label">Gestion</span>
            </div>
        </div>
    </div>
</div>

