@model glnc_webpart.Models.Supplier

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Nom du fournisseur:</strong> @Model.SupplierName</p>
<p><strong>Email:</strong> @Model.Mail</p>
<p><strong>Vérifié:</strong> @(Model.Check ? "Oui" : "Non")</p>

